@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h1><a asp-controller="Todo" asp-action="Index">TODO LIST</a></h1>
    <h1><a asp-controller="Todo" asp-action="AddTodo">Criar LIST To-do</a></h1>
    <h1><a asp-controller="Objetivo" asp-action="Index">Objetivo LIST</a></h1>
    <h1><a asp-controller="Objetivo" asp-action="Create">Criar Objetivo</a></h1>



</div>
